.mainContainer {
    div {
        background-color: #EDF5FF;
    }
    display: flex;
    .UserInfoContainer {
        width: 40%;
        display: flex;
    }
    
    .CommunicationActivites {
        height: 100%;
        width: 75%;
    }
}